body {
  margin: auto;
  background-color: #4facdb;

}

#boucle {
  width: 100%;
  height: 45%;
  bottom: 0;
  position: absolute;
}

#logo {
  width: 27%;
  margin-top: 39px;
  margin-bottom: 42px;
  animation-name: animationLogo;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}


#containerTop {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}



p {
  color: white;
  text-align: center;
  font-size: 25px;
  width: 100%;
  margin: 0px;
}

#p1 {
  animation-name: glissement;
  animation-duration: 0.4s;
}

#p2 {
  animation-name: glissement;
  animation-duration: 0.8s;
}

#p3 {

  animation-duration: 1s;
  animation-name: glissement;
}

#p4 {

  animation-name: glissement;
  animation-delay: 3.5s;
  animation-duration: 0.4s;
}

#p5 {
  animation-name: glissement;
  animation-delay: 3.5s;
  animation-duration: 0.8s;

}

#p6 {
  animation-name: glissement;
  animation-delay: 3.5s;
  animation-duration: 1s;
}

#p7 {
  animation-name: glissement;
  animation-delay: 3.5s;
  animation-duration: 1.3s;
}

#p8 {
  animation-name: glissement;
  animation-delay: 6.5s;
  animation-duration: 0.4s;
}

#p9 {
  animation-name: glissement;
  animation-delay: 6.5s;
  animation-duration: 0.8s;
}

#p10 {
  animation-name: glissement;
  animation-delay: 6.5s;
  animation-duration: 1s;
}

#p11 {
  animation-name: glissement;
  animation-delay: 6.5s;
  animation-duration: 1.3s;
}

#p12 {
  animation-name: fadeInAnimation;
  animation-duration: 11s;
}

#p13 {
  animation-name: fadeInAnimation;
  animation-duration: 11s;
}

#p14 {
  animation-name: fadeInAnimation;
  animation-duration: 11s;
}



#modalite {
  position: relative;
  top: -239px;
  font-size: 10px;
  text-align: left;
  margin-left: 20px;
  animation: visibilityModalite;
  animation-duration: 15s;
  animation-fill-mode: forwards;

}


#containerParagraphe {
  position: relative;
  bottom: 10%;
  animation: fadeOutAnimation ease-in 0.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

#containerParagraphe2 {
  position: relative;
  width: 100%;
  top: -170px;
  animation: visibility;
  animation-duration: 8s;
  animation-fill-mode: forwards;
}

#containerParagraphe3 {
  position: relative;
  top: -235px;
  animation: visibilityParagraphe3;
  animation-duration: 11s;
  animation-fill-mode: forwards;
}

#containerParagraphe4 {
  position: relative;
  top: -363px;
}

@keyframes visibilityParagraphe3 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  65% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}





@keyframes visibility {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes visibilityModalite {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  45% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}




@keyframes glissement {
  from {
    margin-left: 200%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes animationLogo {
  to {
    transform: translate(-35vw, -5vh) scale(0.7);
  }
}