body {
  margin: auto;
  background-color: #4facdb;

}

#boucle {
  width: 100%;
  height: 45%;
  bottom: 0;
  position: absolute;
}

#logo {
  width: 27%;
  margin-top: 39px;
  margin-bottom: 42px;
  animation-name: animationLogo;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}


#containerTop {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}



p {
  color: white;
  text-align: center;
  font-size: 25px;
  width: 100%;
  margin: 0px;
}

#first {
  animation-name: glissement;
  animation-duration: 0.4s;
}

#second {
  animation-name: glissement;
  animation-duration: 0.8s;
}

#third {

  animation-duration: 1s;
  animation-name: glissement;
}

#fourth {

  animation-name: glissement;
  animation-delay: 3.5s;
  animation-duration: 0.4s;
}

#six {
  animation-name: glissement;
  animation-delay: 3.5s;
  animation-duration: 0.8s;

}

#seven {
  animation-name: glissement;
  animation-delay: 3.5s;
  animation-duration: 1s;
}

#height {
  animation-name: glissement;
  animation-delay: 3.5s;
  animation-duration: 1.3s;
}

#nine {
  animation-name: glissement;
  animation-delay: 6.5s;
  animation-duration: 0.4s;
}

#ten {
  animation-name: glissement;
  animation-delay: 6.5s;
  animation-duration: 0.8s;
}

#eleven {
  animation-name: glissement;
  animation-delay: 6.5s;
  animation-duration: 1s;
}

#twelve {
  animation-name: glissement;
  animation-delay: 6.5s;
  animation-duration: 1.3s;
}

#modalite {
  position: relative;
  top: -146px;
  font-size: 8px;
  animation: visibilityModalite;
  animation-duration: 14s;

}


#containerParagraphe {
  position: relative;
  bottom: 10%;
  animation: fadeInAnimation ease-in 0.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

#containerParagraphe2 {
  position: relative;
  width: 100%;
  top: -170px;
  animation: visibility;
  animation-duration: 8s;
  animation-fill-mode: forwards;
}

#containerParagraphe3 {
  position: relative;
  top: -235px;
  animation: visibilityParagraphe3;
  animation-duration: 11s;
  animation-fill-mode: forwards;
}

@keyframes visibilityParagraphe3 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  65% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes visibility {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes visibilityModalite {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  45% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}




@keyframes glissement {
  from {
    margin-left: 200%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animationLogo {
  to {
    transform: translate(-35vw, -5vh) scale(0.7);
  }
}