body {
  margin: auto;
  background-color: #4facdb;

}

#boucle {
  width: 100%;
  height: 45%;
  bottom: 0px;
  position: absolute;
}

#logo {
  width: 27%;
  margin-top: 39px;
  margin-bottom: 42px;
  animation-name: animationLogo;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}


#containerTop {
  max-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

p {
  color: white;
  text-align: center;
  width: 100%;
  margin: 0px;
}

/* MISE EN PAGE DE MES DIFFERENTSES BALISE DE MON HTML + ANIMATION */

#p1 {

  font-size: 30px;
  animation-name: glissement;
  animation-duration: 0.4s;
}

#p2 {
  font-size: 30px;
  animation-name: glissement;
  animation-duration: 0.8s;
}

#p3 {
  font-size: 30px;
  animation-duration: 1s;
  animation-name: glissement;
}

#p4 {
  font-size: 30px;
  animation-name: glissement;
  animation-delay: 3.5s;
  animation-duration: 0.4s;
}

#p5 {
  font-size: 30px;
  animation-name: glissement;
  animation-delay: 3.5s;
  animation-duration: 0.8s;
  margin-bottom: 30px;
}

#p6 {
  animation-name: glissement;
  animation-delay: 3.5s;
  animation-duration: 1s;
}

#p7 {
  font-size: 50px;
  animation-name: glissement;
  animation-delay: 3.5s;
  animation-duration: 1.3s;
}

#p8 {
  font-size: 30px;
  animation-name: glissement;
  animation-delay: 6.5s;
  animation-duration: 0.4s;
}

#p9 {
  font-size: 50px;
  animation-name: glissement;
  animation-delay: 6.5s;
  animation-duration: 0.8s;
}

#p10 {
  font-size: 30px;
  animation-name: glissement;
  animation-delay: 6.5s;
  animation-duration: 1s;
}

#p11 {
  font-size: 50px;
  animation-name: glissement;
  animation-delay: 6.5s;
  animation-duration: 1.3s;
}

#p12 {
  font-size: 25px;
  animation-name: fadeInAnimation;
  animation-duration: 10.5s;
}

#p13 {
  font-size: 25px;
  animation-name: fadeInAnimation;
  animation-duration: 10.7s;
}

#p14 {
  font-size: 25px;
  animation-name: fadeInAnimation;
  animation-duration: 10.9s;
}

button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #4facdb;
  width: 280px;
  margin-top: 47px;
  border: solid 1px white;
  color: white;
  padding: 15px;
  animation-name: fadeInAnimation;
  animation-duration: 11.2s;
}

/* GERE ICI LES ANIMATION ET AFFICHAGES DE MES CONTAINERS PARAGRAPHES */

#containerParagraph {
  position: relative;
  bottom: 10%;
  animation: fadeOutAnimation ease-in 0.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

#containerParagraph2 {
  position: relative;
  width: 100%;
  top: -170px;
  animation: visibilityParagraph2;
  animation-duration: 8s;
  animation-fill-mode: forwards;
}

#containerParagraph3 {
  position: relative;
  top: -333px;
  animation: visibilityParagraph3;
  animation-duration: 11s;
  animation-fill-mode: forwards;
}

#containerParagraph4 {
  position: relative;
  top: -512px;
}

#modalite {
  position: relative;
  bottom: 493px;
  font-size: 10px;
  text-align: left;
  margin-left: 20px;
  animation: visibilityModalites;
  animation-duration: 15s;
  animation-fill-mode: forwards;
}

.fas {
  font-size: 25px;
}

/* KEYFRAMES DU PREMIER PARAGRAPHE POUR QU'IL DISPARAISSE */
@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* KEYFRAMES DU PARAGRAPHE 2 POUR PASSAGE NON VISIBLE A VISIBLE */
@keyframes visibilityParagraph2 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* KEYFRAMES DU PARAGRAPHE 3 POUR PASSAGE NON VISIBLE A VISIBLE */
@keyframes visibilityParagraph3 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  65% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* KEYFRAMES DU PARAGRAPHE 4 POUR PASSAGE NON VISIBLE A VISIBLE APPLIQUER DIRECTEMENT AU BALISE p*/

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* KEYFRAMES DES MODALITES POUR PASSAGE NON VISIBLE A VISIBLE APPLIQUER DIRECTEMENT AU BALISE p*/

@keyframes visibilityModalites {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  45% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* KEYFRAMES POUR ANIMATION D'AFFICHAGE DES BALISE p DE DROITE A GAUCHE*/

@keyframes glissement {
  from {
    margin-left: 200%;
  }

  to {
    margin-left: 0%;
  }
}

/* KEYFRAMES DE L'ANIMATION DU LOGO*/

@keyframes animationLogo {
  to {
    transform: translate(-35vw, -5vh) scale(0.7);
  }
}


